<!DOCTYPE html> {% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block opengraph %}
  <meta property="og:title" content="bl0g.ru">
  <meta property="og:description" content="Простой блог на Django.">
  <meta property="og:sitename" content="bl0g.ru">
  <meta property="og:url" content="https://bl0g.ru/">
  {% endblock %}

  <title>{% block title %}bløg.ru{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/css/monokai.css' %}" rel="stylesheet">

  <!-- Bootstrap core JavaScript -->
  <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script src="//cdn.jsdelivr.net/npm/mermaid@8.8.4/dist/mermaid.min.js"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      config: ["MMLorHTML.js"],
      jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
      extensions: ["MathMenu.js", "MathZoom.js"]
    });
  </script>
  <!-- Custom styles for this template -->
  <link href="{% static '/css/blog.css' %}" rel="stylesheet">
</head>

<body>
{% block body %}
{% endblock %}
</body>

</html>
